/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

/* .navbar, */
.header-btn-group .btn {
    display: none;
  }

  .header {
    --color: var(--rich-black-fogra-29);
    --btn-color: var(--rich-black-fogra-29);
    background-color: var(--white);
    /* background-image: linear-gradient(to bottom, #025e45, #1c3c2d); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 20px;
    border-block-end: 1px solid var(--champagne-pink_20);
    z-index: 4;
  }
  
  .header.active {
    --color: var(--rich-black-fogra-29);
    --btn-color: var(--rich-black-fogra-29);
  
    position: fixed;
    top: -86px;
    background-color: var(--white);
    box-shadow: var(--shadow-1);
    animation: slideIn 0.5s ease-out forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-box {
    width: 96px; /* Ширина контейнера для логотипа */
    height: 45px; /* Высота контейнера для логотипа */
    overflow: hidden; /* Обрезать изображение, если оно больше контейнера */
  }
  
  .logo-box img {
    max-width: 100%; /* Максимальная ширина изображения равна ширине контейнера */
    height: auto; /* Сохранить соотношение сторон изображения */
    display: block; /* Избавиться от лишних пробелов под изображением */
  }
  
  .header-btn-group {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .search-btn {
    color: var(--btn-color);
    font-size: 20px;
  }
  
  .search-btn ion-icon {
    --ionicon-stroke-width: 50px;
  }
  
  .nav-toggle-btn {
    display: grid;
    gap: 4px;
  }
  
  .line {
    width: 10px;
    height: 3px;
    background-color: var(--btn-color);
    border-radius: 5px;
    transition: var(--transition-1);
  }
  
  .line.middle {
    width: 20px;
  }
  
  .line.bottom {
    margin-left: auto;
  }
  
  .nav-toggle-btn.active .line.top {
    transform: translate(1px, 3px) rotate(45deg);
  }
  
  .nav-toggle-btn.active .line.middle {
    transform: rotate(-45deg);
  }
  
  .nav-toggle-btn.active .line.bottom {
    transform: translate(-1px, -3px) rotate(45deg);
  }
  
  .navbar {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    background-color: var(--white);
    padding-inline: 20px;
    box-shadow: var(--shadow-1);
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: var(--transition-1);
  }
  
  .navbar.active {
    height: 236px;
    visibility: visible;
  }
  
  .navbar-list {
    margin-block: 10px;
  }
  
  .nav-item:not(:last-child) {
    border-block-end: 1px solid hsla(0, 0%, 0%, 0.04);
  }
  
  .navbar-link {
    color: var(--rich-black-fogra-29);
    font-size: var(--fs-4);
    font-family: var(--ff-rubik);
    font-weight: var(--fw-500);
    padding: 10px 15px;
    transition: var(--transition-1);
  }
  
  .navbar-link:is(:hover, :focus) {
    color: var(--red);
  }
  
  .btn-menu {
    display: none;
  }

  /*-----------------------------------*\
  #Modal
\*-----------------------------------*/
  .modal-contanier {
    min-width: 300px;
    border: 1px solid red;
    background-color: var(--white);
    border-radius: 15px;
  }

  .h-modal {
    color: var(--rich-black-fogra-29);
    font-family: var(--ff-rubik);
    font-weight: var(--fw-500);
    font-size: 16px;
  }

  .modal-body {
    min-height: 200px;
  }

  .buy-item-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
  }
  .buy-item {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    align-items: center;
    width: 100%;
  }
  
  .modal-header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 5px;
  }

  .modal-footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  /*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 480px screen
 */

@media (max-width: 478px) {
    .btn-menu {
      display: block;
      --bg-color: var(--red);
    }
    .navbar.active {
      height: 285px;
      visibility: visible;
    }
    .li_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 6px;
    }
  }
  
  @media (min-width: 480px) {
    /**
     * HEADER
     */
  
    .header-btn-group .btn {
      display: block;
      --bg-color: var(--red);
    }
  }

/**
 * responsive for larger than 992px screen
 */

 @media (min-width: 992px) {

  .nav-toggle-btn {
    display: none;
  }

  .header .container {
    gap: 20px;
  }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline-start: auto;
  }

  .navbar-list {
    margin-block: 0;
    display: flex;
    gap: 5px;
  }

  .nav-item:not(:last-child) {
    border-block-end: none;
  }

  .navbar-link {
    --fs-4: 1.5rem;
    color: var(--btn-color);
    letter-spacing: -0.5px;
  }

 }